@import url('shared.css');

.arrow {
    font-size: 3em;
    color: #191716;
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.split_text_container {
    display: flex;
    text-transform: uppercase;
    overflow: visible;
}

.text_part {
    display: inline-block;
    position: relative;
    transform: translateX(0);
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.text_part.left {
    transform: translateX(-200%);
    animation-name: slide-in-left;
    margin-right: 1.5em;
}

.text_part.right {
    transform: translateX(200%);
    animation-name: slide-in-right;
    margin-left: 1.5em;
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slide-in-right {
    0% {
        transform: translateX(200%);
    }
    100% {
        transform: translateX(0);
    }
}

#intro {
    align-items: flex-start;
    display: flex;
    gap: 1em;
}

header img {
    height: 15rem;
    width: auto;
}

#about, #a_little_more {
    box-sizing: border-box;
    margin: 0 auto 3rem;
    padding: 3rem;
    width: 60%;
    text-align: center;
}

.welcome_intro {
    color: #191716;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}

.cards {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 20px 0;
}

#about .card {
    align-items: center;
    background-color: #191716;
    display: flex;
    flex-direction: column;
    height: 14rem;
    justify-content: center;
    opacity: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 18rem;
}

#about .card:hover {
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    transform: translateY(-10px);
}

#a_little_more .card {
    align-items: center;
    border-radius: 1rem;
    background-color: #fff;
    border: 1px solid #e5e7eb;
    display: flex;
    flex-direction: column;
    height: 18rem;
    justify-content: center;
    padding: 20px;
    width: 20rem;
}

#about .card img {
    border: 1px solid #e5e7eb;
    flex-shrink: 0;
    height: 8.6rem;
    object-fit: cover;
    width: 14rem;
}

#a_little_more .card img {
    border: 1px solid #e5e7eb;
    height: 10.4rem;
    object-fit: cover;
    width: 17.9rem;
}

#about .card_title {
    color: #f3f4f6;
    font-family: 'Montserrat', serif;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

#a_little_more .card_title {
    color: #191716;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: normal;
    padding-top: .5em;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

#a_little_more a {
    color: #191716;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: normal;
    text-decoration: underline;
}

/* mobile */
@media only screen and (max-width: 768px) {
    nav {
        width: 100%;
        height: 7rem;
        padding: 0 1rem 1rem;
        align-items: flex-end;
        justify-content:space-around
    }
    
    nav h3 {
        font-size: 1.25rem;
        margin: 0.25rem;
    }

    h1 {
        font-size: 3rem;
        line-height: 1.1;
    }

    h2 {
        font-size: 2rem;
    }

    footer {
        align-items: center;
        background-color: #191716;
        box-sizing: border-box;
        color: #f3f4f6;
        display: flex;
        flex-wrap: wrap;
        font-family: 'Montserrat', serif;
        font-size: 1rem;
        font-weight: 400;
        justify-content: center;
        margin: 0;
        padding: 0.25rem 1rem;
        position: sticky;
        text-align: center;
        width: 100%;
    }

    header {
        gap: 1rem;
        padding: 10rem 1rem;
        margin-left: 0;
        text-align: left;
    }

    #intro {
        align-items: center;
        gap: 0.5em;
        width: 100%;
    }

    header img {
        height: 8rem;
        width: auto;
    }
}