@import url('shared.css');

a {
    color: #191716;
    text-decoration: underline;
}

.section-title {
    justify-content: center;
}

#design,
#business,
#analytics {
    box-sizing: border-box;
    margin: 0 auto 3rem;
    padding: 3rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.projects {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 20px auto;
    width: 100%;
}

.project {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1em;
    width: 70%;
}

.project_card {
    align-items: center;
    background-color: #191716;
    border: 1px solid #e5e7eb;
    display: flex;
    flex-direction: column;
    height: 15rem;
    justify-content: center;
    margin: 15px;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 18rem;
}

.project_card:hover {
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    transform: translateY(-10px);
}

.project_card img {
    border: 1px solid #e5e7eb;
    flex-shrink: 0;
    height: 11rem;
    object-fit: cover;
    width: 16rem;
}

.project_title {
    color: #f3f4f6;
    font-family: 'Montserrat', serif;
    font-size: 1.5rem;
    font-weight: bolder;
    margin-top: 1rem;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

#business a {
    text-decoration: none;
    font-size: 1rem;
}

.project_description {
    color: #191716;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    height: auto;
    width: 100%;
    max-width: 60rem;
    text-align: left;
}

#business div div,
#business div a div {
    background-color: #fff;
    border-radius: 1rem;
    border: 1px solid #e5e7eb;
    box-sizing: border-box;
    color: #191716;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', serif;
    font-size: 1.5rem;
    height: 6.3rem;
    justify-content: center;
    margin: .5rem;
    max-width: 40rem;
    overflow: hidden;
    padding: 1rem;
    text-align: center;
    width: 100rem;
}

#business_projects {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    #design,
    #business,
    #analytics {
        width: 100%;
        padding: 1rem;
        align-items: center;
    }

    .projects {
        flex-direction: column;
        gap: 10px;
    }

    .project_description {
        width: 100%;
        height: auto;
        font-size: 1rem;
        text-align: center;
    }
}