nav {
    align-items: center;
    background-color: #191716;
    display: flex;
    height: 5rem;
    justify-content: center;
    margin-right: 1rem;
    margin-top: 1rem;
    position: fixed;
    right: 0;
    width: 35rem;
    z-index: 10;
}

nav a, a {
    color: #f0f0f0;
    text-decoration: none;
}

nav a:hover, a:hover {
    color: #949494;
    text-decoration: underline;
}

nav h3 {
    color: #f0f0f0;
    font-size: 1.75rem;
    margin: 0.5rem;
}

footer {
    align-items: center;
    background-color: #191716;
    box-sizing: border-box;
    color: #f0f0f0;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Montserrat', serif;
    font-size: 1rem;
    font-weight: 400;
    justify-content: space-between;
    margin: 0;
    padding: 0.25rem 1rem;
    position: sticky;
    text-align: center;
    width: 100%;
}

h1 {
    color: #440D0F;
    font-family: 'Quicksand', sans-serif;
    font-size: 6rem;
    font-weight: bolder;
    margin: 0;
}

h2 {
    color: #440D0F;
    font-family: 'Montserrat', serif;
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
    word-wrap: break-word;
}

h3 {
    color: #440D0F;
    font-family: 'Montserrat', serif;
    font-size: 2rem;
    font-weight: 400;
}

html {
    background-color: #f0f0f0;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

main {
    flex: 1;
}

body {
    margin: 0;
    min-height: 100%;
    padding: 0;
    width: 100%;
}

#design {
    position: relative;
}

#design,
#business,
#analytics {
    box-sizing: border-box;
    margin: 0 auto 3rem;
    padding: 3rem;
    width: 90%;
}

.projects {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 20px 0;
}

.project {
    align-items: flex-start;
    display: flex;
    gap: 1em;
}

.project_card {
    align-items: center;
    background-color: #191716;
    border: 1px solid #f0f0f0;
    display: flex;
    flex-direction: column;
    height: 15rem;
    justify-content: center;
    margin: 15px;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 18rem;
}

.project_card:hover {
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    transform: translateY(-10px);
}

.project_card img {
    border: 1px solid #f0f0f0;
    flex-shrink: 0;
    height: 11rem;
    object-fit: cover;
    width: 16rem;
}

.project_title {
    color: #f0f0f0;
    font-family: 'Montserrat', serif;
    font-size: 1.5rem;
    font-weight: bolder;
    margin-top: 1rem;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.project a,
#business a {
    text-decoration: none;
}

.project_description {
    color: #191716;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    height: 18rem;
    width: 30rem;
}

#business div div,
#business div a div {
    border-radius: 1rem;
    border: 1px solid #191716;
    color: #191716;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', serif;
    font-size: 2.225rem;
    height: 6.3rem;
    justify-content: center;
    margin: .5rem;
    text-align: center;
    text-wrap: nowrap;
    width: 60rem;
}

#business_projects {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}